body{
 font-family: 'Roboto', sans-serif
}

.infoarriba{
    background-color:#224572;
    color: #D1D0CE;
}
footer{
    background-color:#224572;
     color: #D1D0CE;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  margin-top: 200px; /*espacio entre cards y footer modificar luego*/
 

}


.imagenes{
    
max-width: 100%;
    height: auto; 
    border-radius: 10px;
}

#carouselExampleIndicators {
width: 570px;
margin: 0 auto;
 
}


body{
    background-color: #D1D0CE;
}
nav {
background:#1B3A5F;
}


nav ul { list-style: none; }


 



nav ul li a {
display: block;
padding: 15px 20px;
color: white;
text-decoration: none;
}


nav ul li a:link { color: #ffffff; }
nav ul li a:visited { color: #cccccc; }
nav ul li a:hover { background: #ff6600; }
nav ul li a:active { background: #cc5200; }

.iconos{
    float: right;
}
.jumbotron{
    max-width: 100%;
  height: 150px;
    margin: 0 auto;        /* centra horizontalmente */

background-size: cover;
    margin-top: 20px;
margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url(jumboimage.jpg);
  border-radius: 20px;
  color: #cccccc;
    
}

.enviar{
  background-color:  #f8863a;
  border-radius: 140px;
  border: none;
 
}

.enviar:hover{
  background-color: #ff790d;
}

.imagen{
  width: 300px;
  height: 300px;
  border-radius: 20px;

  
  
  
}
.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo{
  width: 70px;
  height: 70px;
}
 
.proyectoslogo{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  cursor: pointer

}
.btn:hover{
  background-color: #ff6600;
}
.btn{
  background-color: #ff6600;
  margin-bottom: 10px;
}
